/* navbar */
.navbar-logo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("/img/trick-logo-black.png");
}
.dark .navbar-logo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("/img/trick-logo-white.png");
}
/* navbar */

/* body background  */

body {
	position: relative;
}

.background-container {
	position: absolute;
	inset: 0;
	overflow: hidden;
	z-index: -1;
	top: 0 !important;
}

.background-container div {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease-in-out;
}

.background1,
.background2 {
	position: absolute;
	top: 0;
	background-image: url("trick-home.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 1.5s ease-in-out;
}
.background1 {
	right: 700px;
	width: 30% !important;
}
.background2 {
	left: 450px;
	width: 45% !important;
}

/* .blur-layer {
	filter: blur(50px);
} */

.background1 {
	z-index: -1;
	animation: translate1 15s infinite alternate ease-in-out;
}

.background2 {
	z-index: -2;
	animation: translate2 17s infinite alternate ease-in-out;
}

@keyframes translate1 {
	0% {
		transform: translate(600px, 200px);
	}
	25% {
		transform: translate(600px, -100px);
	}
	50% {
		transform: translate(300px, -100px);
	}
	75% {
		transform: translate(600px, -100px);
	}
	100% {
		transform: translate(600px, 200px);
	}
}

@keyframes translate2 {
	0% {
		transform: translate(-600px, -500px);
	}
	25% {
		transform: translate(-600px, 0px);
	}
	50% {
		transform: translate(-300px, 300px);
	}
	75% {
		transform: translate(-600px, -300px);
	}

	100% {
		transform: translate(-600px, -500px);
	}
}

.menu-toggle {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	text-decoration: none; /* if using anchor */
}

.fullpage-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: none;
}

.fullpage-menu-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 100px 60px;
}

.menu-bg {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	/* background: rgba(0, 0, 0, 0.7); */

	backdrop-filter: blur(15px);
	opacity: 0;
}
.fullpage-menu-inner nav {
	position: relative;
	z-index: 1;
	text-align: center;
}

.fullpage-menu-inner nav ul {
	list-style-type: none;
}

.fullpage-menu-inner nav li {
	overflow: hidden;
}

.fullpage-menu-inner nav li + li {
	margin-top: 30px;
}

.fullpage-menu-inner nav li a {
	font-size: 15vh;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	line-height: 1;
	letter-spacing: 5px;
	color: transparent;
	-webkit-text-stroke: 2px #fff;
}

.fullpage-menu-inner nav li a span {
	position: relative;
	display: block;
}

.fullpage-menu-inner nav li a span:before {
	content: attr(data-clip);
	color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fad961;
	background-image: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
	-webkit-text-stroke: 3px transparent;
	-webkit-background-clip: text;
	z-index: 1;
	height: 0%;
	overflow: hidden;
	transition: 400ms linear 0s;
}

.fullpage-menu-inner nav li:hover a span:before {
	height: 100%;
}

@media screen and (max-width: 767px) {
	.fullpage-menu-inner nav li a {
		font-size: 54px;
	}
}

@media screen and (min-width: 767px) {
	.fullpage-menu {
		display: none;
	}
}
